<section data-ng-controller="AddagameController" class='signincenter'>
	<p>add a game</p>
	<form>
		<input type="text" placeholder="Game Title">
		<select>
			<option value="NES">NES</option>
			<option value="Super Nintendo">Super Nintendo</option>
			<option value="Nintendo 64">Nintendo 64</option>
			<option value="Gamecube">Gamecube</option>
			<option value="Wii">Wii</option>
			<option value="Wii U">Wii U</option>
		</select>
		<select>
			<option value="Action & Adventure ">Action & Adventure</option>
			<option value="Super Nintendo">Super Nintendo</option>
			<option value="Nintendo 64">Nintendo 64</option>
			<option value="Gamecube">Gamecube</option>
			<option value="Wii">Wii</option>
			<option value="Wii U">Wii U</option>
		</select>
		<div class="input-group">
		  <span class="input-group-addon">$</span>
		  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
		  <span class="input-group-addon">.00</span>
		</div>
		<button ng-click="addToLibraryForm()" add-to-library current-game="game">Add</button>
		
	</form>
</section>