<section data-ng-controller="FourmController" class="signincenter">
	<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" >NES</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" >Super Nintendo</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" >Gamecube</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" >Wii</a></li>
  </ul>
</div>

</section>