<section data-ng-controller="GamedatabaseController" class=" signincenter">
	<p class="logocenter">Master Game Database</p>
	<p>----------------------------------------------------
	<img src="http://www.emoticonswallpapers.com/avatar/logos/Nintendo-Logo.gif">
		-----------------------------------------------------
	</p>
		<ul class="stylenone">
			<div class="row">
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/nes"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/NES_logo.svg/2000px-NES_logo.svg.png"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/supernes"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/SNES_logo.svg/2000px-SNES_logo.svg.png"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/nintendo64"><img class="systemlogosquare" src="http://upload.wikimedia.org/wikipedia/en/0/04/Nintendo_64_Logo.svg"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/gamecube"><img class="systemlogosquare" src="http://www.brandsoftheworld.com/sites/default/files/nintendo_gamecube_84_logo.jpg"></a>
					</li>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/wii"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/commons/1/1c/Wii_logo.png"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/wii-u"><img class="systemlogo" src="http://vignette4.wikia.nocookie.net/nintendo/images/6/6d/Wii_U_logo.png/revision/20120708180055?path-prefix=en"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/gameboy"><img class="systemlogo" src="http://www.nintendo-collection.com/Mes%20GB%20Classic/gameboy_logo.png"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/virtualboy"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/commons/b/b9/Virtual_Boy_Logo.png"></a>
					</li>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/gameboy-color"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Game_Boy_Color_Logo.svg/2000px-Game_Boy_Color_Logo.svg.png"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/gameboy-advance"><img class="systemlogo" src="http://img3.wikia.nocookie.net/__cb20111116045424/sonic/images/3/3d/Game_boy_advance_logo_1-15814.jpg"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/nintendo-ds"><img class="systemlogo" src="http://img3.wikia.nocookie.net/__cb20110115025853/sonic/images/4/47/Nintendo_DS_logo1.jpg"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/nintendo-3ds"><img class="systemlogo" src="http://img3.wikia.nocookie.net/__cb20110502233018/sonic/images/2/2a/Nintendo_3DS_logo.jpg"></a>
					</li>
				</div>
			</div>
		</ul>
	<p>----------------------------------------------------
	<img src="http://wiiuandmii.com/wp-content/uploads/2012/03/sega-logo-1-96x96.jpg">
		----------------------------------------------------
	</p>
		<ul class="stylenone">
			<div class="row">
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/mastersystem"><img class="systemlogo" src="http://img2.wikia.nocookie.net/__cb20140210153334/logopedia/images/b/b7/Sega-master-system-logo.jpg"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/genesis"><img class="systemlogo" src="http://lazytechguys.com/wp-content/uploads/2011/05/Sega-Genesis-Logo.jpg"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/32-x"><img class="systemlogo" src="http://emumovies.com/logos/Sega%2032X.png"></a>
					</li>
				</div>
				<div class="col-md-3">
					<li>
						<a href="/#!/gamedatabase/segacd"><img class="systemlogo" src="http://img1.wikia.nocookie.net/__cb20110118142950/sonic/images/f/f8/Segacdlogo.jpg"></a>
					</li>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/segasaturn"><img class="systemlogo" src="http://www.psp-wallpaper.fr/uploads/10876.jpg"></a>
					</li>
				</div>
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/dreamcast"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Dreamcast_logo.svg/2000px-Dreamcast_logo.svg.png"></a>
					</li>
				</div>
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/gamegear"><img class="systemlogo" src="http://segaretro.org/images/3/3b/Gamegear_us_logo.svg"></a>
					</li>
				</div>
			</div>
		</ul>
	<p>----------------------------------------------------
	<img src="http://www.cmxnotebookparts.com/images/.thumbs/.Sony_Logo.jpg">
		----------------------------------------------------
	</p>
		<ul class="stylenone">
			<div class="row">
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/psx"><img class="systemlogosquare" src="http://www.pcmanias.com/wp-content/uploads/2015/02/Sony-PlayStation-Logo-final.jpg"></a>
					</li>
				</div>
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/playstation2"><img class="systemlogo" src="http://vignette1.wikia.nocookie.net/vsrecommendedgames/images/a/af/PlayStation_2_logo.png/revision/latest?cb=20130817044623"></a>
					</li>
				</div>
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/ps3"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/commons/6/68/PlayStation_3_Logo_neu.svg"></a>
					</li>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/playstation4"><img class="systemlogosquare" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PlayStation_4_logo_and_wordmark.svg/503px-PlayStation_4_logo_and_wordmark.svg.png"></a>
					</li>
				</div>
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/psp"><img class="systemlogo" src="http://img1.wikia.nocookie.net/__cb20100130083948/gtawiki/images/d/df/PSP_Logo.png"></a>
					</li>
				</div>
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/vita"><img class="systemlogo" src="http://vignette3.wikia.nocookie.net/vsrecommendedgames/images/1/15/PSP-Vita-Logo.png/revision/latest?cb=20130805205151"></a>
					</li>
				</div>
			</div>
		</ul>
	<p>----------------------------------------------------
	<img src="http://www.pc-products.com/images/logo-microsoft.gif">
		----------------------------------------------------
	</p>
		<ul class="stylenone">
			<div class="row">
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/xbox"><img class="systemlogo" src="http://img1.wikia.nocookie.net/__cb20121214132807/logopedia/images/8/85/Xbox_logo_2.png"></a>
					</li>
				</div>
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/xbox360"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/de/c/c8/Xbox_360_-_Logo.svg"></a>
					</li>
				</div>
				<div class="col-md-4">
					<li>
						<a href="/#!/gamedatabase/xboxone"><img class="systemlogo" src="http://upload.wikimedia.org/wikipedia/en/thumb/1/11/Xbox_One_logo.svg/1280px-Xbox_One_logo.svg.png"></a>
					</li>
				</div>
			</div>
		</ul>
</section>