<section data-ng-controller="HomeController">

	<div class="introcontent" style="text-align:center;">
		<h2>Welcome to </h2>
		<span class="name">Bit Library</span>
		<p>Ever wonder how much your video game collection is worth? Well we have got you covered. 
		At Bit Library we have an easy to use database for cataloging your collection and if we dont have 
		a game in our system we have an option for you to manually add one. Comes in handy on those obscure 
		japanese releases. Were also working on expanding our fourm so come join the comunity and have a great time. Best part its <strong>FREE!</strong>.</p>
		
		<ul class="clearleftpad">
			<li ui-route="/signup" ng-class="{active: $uiRoute}" class="centerbtn">
				<a href="/#!/signup" class="btn btn-primary btn-lg widewidth">Sign Up</a>
			</li>
		</ul>	
	</div>
	
	
</section>